WebContent/wsdl/Accounts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayWebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayWebService" xmlns:intf="http://ebayWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayWebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAccountDetails">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDetailsResponse">
    <complexType>
     <sequence>
      <element name="getAccountDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAccountDetails">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
      <element name="ebayHandle" type="xsd:string"/>
      <element name="birthday" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="expiry" type="xsd:string"/>
      <element name="cvv" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAccountDetailsResponse">
    <complexType>
     <sequence>
      <element name="setAccountDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAccountDetailsRequest">

      <wsdl:part element="impl:getAccountDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAccountDetailsRequest">

      <wsdl:part element="impl:setAccountDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDetailsResponse">

      <wsdl:part element="impl:getAccountDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAccountDetailsResponse">

      <wsdl:part element="impl:setAccountDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Accounts">

      <wsdl:operation name="getAccountDetails">

         <wsdl:input message="impl:getAccountDetailsRequest" name="getAccountDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountDetailsResponse" name="getAccountDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAccountDetails">

         <wsdl:input message="impl:setAccountDetailsRequest" name="setAccountDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:setAccountDetailsResponse" name="setAccountDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountsSoapBinding" type="impl:Accounts">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAccountDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAccountDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAccountDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAccountDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountsService">

      <wsdl:port binding="impl:AccountsSoapBinding" name="Accounts">

         <wsdlsoap:address location="http://localhost:8080/ebayWebService/services/Accounts"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
