WebContent/wsdl/validation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayWebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayWebService" xmlns:intf="http://ebayWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayWebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateResponse">
    <complexType>
     <sequence>
      <element name="validateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signup">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signupResponse">
    <complexType>
     <sequence>
      <element name="signupReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="signupRequest">

      <wsdl:part element="impl:signup" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signupResponse">

      <wsdl:part element="impl:signupResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateRequest">

      <wsdl:part element="impl:validate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateResponse">

      <wsdl:part element="impl:validateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="validation">

      <wsdl:operation name="validate">

         <wsdl:input message="impl:validateRequest" name="validateRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateResponse" name="validateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signup">

         <wsdl:input message="impl:signupRequest" name="signupRequest">

       </wsdl:input>

         <wsdl:output message="impl:signupResponse" name="signupResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="validationSoapBinding" type="impl:validation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="validationService">

      <wsdl:port binding="impl:validationSoapBinding" name="validation">

         <wsdlsoap:address location="http://localhost:8080/ebayWebService/services/validation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
